* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
    background-color: rgb(15, 17, 24);
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    height: 400px;
}

h2 {
    color: #fff;

}

.cloud {

    position: relative;
    left: 50px;
    top: 50px;
    width: 320px;
    height: 100px;
    background: #fff;
    border-radius: 100px;

}

.cloud::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 40px;
    width: 110px;
    height: 110px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 90px 0 0 30px #fff;
}

.rain {
    left: 45px;
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
}

.rain span {

    position: relative;
    bottom: 10px;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 0 2px;
    border-radius: 50%;
    animation: animate 60s linear infinite;
    animation-duration: calc(70s / var(--i));
    transform-origin: bottom;
}

@keyframes animate {

    0% {
        transform: translateY(0) scale(1);
    }

    70% {
        transform: translateY(450px) scale(1);

    }

    100% {
        transform: translateY(500px) scale(0);
    }

}



h1 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}

hr {
    background-color: orange;
    height: 2px;
    border: 0;
}

/*.underline {

    height: 7px;

    background-color: rgb(15, 17, 24);
    margin-top: 3px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.underline span {
    width: 10px;

    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 10px;
    height: 100%;
    border-radius: 3px;
    animation: moving 7s linear infinite;

}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

*/
.countdown {
    color: rgb(255, 255, 255);
    font-size: 56px;
    font-weight: 400;
}





@media (max-width: 375px) {
    .underline {
        left: 35px;
        right: 35px;
        width: 310px;
    }

    .cloud {
        left: 5px;
    }

    .rain {
        left: 0;
    }

    .countdown {
        font-size: 36px;
    }
}